<a href="/memos">← 戻る</a>
<div class="memo-detail">
  <h2><%= h(@item[:title]) %></h2>
  <p><%= h(@item[:body]) %></p>
</div>

<div class="button-row">
  <a href="/memos/<%= @item[:id] %>/edit">変更</a>

  <form method="POST" action="/memos/<%= @item[:id] %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除">
  </form>
</div>
